body {
    font-family: Open Sans, sans-serif;
    font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    font-family: Open Sans, sans-serif;
    margin: 0;
    padding: 0;
}

.fs20 {
    font-size: 20px !important;
}

a {
    text-decoration: none !important;
}

.blackColor {
    color: #000000 !important;
}

.button {
    font-size: 16px;
    font-weight: 600;
    padding: 6px 32px;
    border-radius: 12px;
    border: none;
}

.primaryBtn {
    background: #003C44;
    color: #fff;
}

.primarylite {
    border: 2px solid #003C44;
    color: #003C44;
    background: #fff;
}

.secondarylite {
    border: 2px solid #AB2D26;
    background: #fff;
    color: #AB2D26;
}

.secondaryBtn {
    color: #fff;
    background: #AB2D26;
}

.boxShadow {
    box-shadow: 0px 0px 12px 0px #0000001F;
}

.link {
    color: #228477;
    font-size: 14px;
    font-weight: 400;

}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexColCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 30px;
    font-weight: 700;
    color: #202020;
}

.headTitle {
    font-size: 20px;
    font-weight: 600;
}

.normaltext {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.label {
    font-size: 14px;
    font-weight: 400;
    color: #202020;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    border: 1px solid #D2D2D2;
    border-radius: 4px;
    padding: 6px;
    font-size: 14px;
    font-weight: 400;
}

input[type="text"]:focus-visible,
input[type="email"]:focus-visible,
input[type="password"]:focus-visible,
select:focus-visible {
    outline: 1px solid #003C44 !important;
}

.borderRad20 {
    border-radius: 20px;
}

.relative {
    position: relative;
}

.absolut {
    position: absolute;
}

.leftAbsLogin {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
}

.rightAbsLogin {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99;
}

.phImage {
    position: absolute;
    top: 20%;
}

.loginBox {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 33%;
    padding: 48px 24px;
}

.width75 {
    width: 75%;
}

header {
    padding: 12px 24px;
    border-bottom: 1px solid #DBE4E5;
}

.headerRight {
    display: flex;
    align-items: center;
    gap: 34px;
}

.pad36 {
    padding: 36px;
}

.lite-title {
    font-size: 26px;
    font-weight: 600;
}

.cusTable table {
    width: 100%;
}

.cusTable thead th {
    background: #F4F4F4;
    border-right: 1px solid #989898;
    font-size: 16px;
    font-weight: 700;
}

.cusTable {
    margin-top: 32px;
}

.cusTable th,
.cusTable td {
    padding: 10px;
}

.cusTable td {
    border-right: 1px solid #fff;
    font-size: 16px;
    font-weight: 400;
}

.cusTable tbody tr:nth-child(even) td {
    background: #DBE4E5;
}

.createEditUser {
    position: fixed;
    top: 0;
    left: 0;
    background: #00000050;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100%;
}

.middleModel {
    background: #fff;
    padding: 24px;
    border-radius: 12px;
    width: 35%;
}

.cursor-pointer {
    cursor: pointer;
}

.headerHover {
    display: flex;
    gap: 16px;
    padding: 4px;
    border-radius: 4px;
}

.headerHover:hover {
    background: #DBE4E5;
    cursor: pointer;
}